{% set title = 'Edit - Sleep PIR' %}
{% extends 'layouts/_accounts' %}

{% block content %}


    {% set submissionId = craft.app.request.getParam('id') %}
    {% set url = siteUrl ~ 'account/neuroselect/sleep/' ~ submissionId %}
    {% set sex = 'male' %}
    {% set age = '40' %}


    {% set query = craft.app.request.getParam('q') %}
    {% if query | length %}
        {% for u in craft.users.email(query) %}
            {% set user = u %}
        {% endfor %}
    {% endif %}


    <div class="wrapper-wide pir-update-wrap">
        <div class="mt-6">
            <header>
                {% if currentUser %}<p class="mb-3"><a id="pir-back" href="{{ url('account/neuroselect/') }}">< Back</a></p>{% endif %}
                {% if submissionId %}
                    <h2>Edit Submission #{{ submissionId }}</h2>
                {% else %}
                    <h2>Add Submission</h2>
                {% endif %}
            </header>


            {% set secondaryConcerns = '' %}
            {% set relevantPathways = '' %}
            {% set excludedIngredients = '' %}
            {% set preferredPhase = '' %}
            {% set age = '' %}
            {% set sex = '' %}



                {% for submission in user.sleepSubmission %}
                    {% if submissionId == submission.submissionId %}

                        {% set secondaryConcerns = submission.concerns| split(', ') %}
                        {% set relevantPathways = submission.relevantPathways| split(', ') %}
                        {% set excludedIngredients = submission.excludedIngredients| split(', ') %}
                        {% set preferredPhase = submission.preferredPhase| split(', ') %}
                        {% set age = submission.age|lower %}
                        {% set sex = submission.gender|lower %}

                    {% endif %}
                {% endfor %}

                {% set url = siteUrl ~ 'account/neuroselect/sleep/' ~ submissionId %}


            <div class="mt-4 mb-4">
                <div class=" text-group account-card">
                    <div class="card col-12">


                        <div class="pir-update-error mb-4 d-none">
                            <p class="text-error text-italic">Your submission could not be saved.</p>
                        </div>
                        <div class="pir-update-success mb-4 d-none">
                            {% if query | length %}
                            <p class="text-brand-alt">Your submission has been updated successfully. <a id="submission-url" href="{{ url }}?q={{ user.email }}">View the report here.</a></p>
                            {% else %}
                            <p class="text-brand-alt">Your submission has been updated successfully. <a id="submission-url" href="{{ url }}">View the report here.</a></p>
                            {% endif %}
                        </div>

                        <form id="edit-pir-form" class="col-lg-10" action="" method="post" accept-charset="UTF-8" class="">
                            <input type="hidden" name="action" value="/neuroselect-module/sleep/sleep-pir">
                            {{ csrfInput() }}

                            <input type="hidden" id="submissionId" name="submissionId" value="{{ submissionId }}">
                            <input type="hidden" name="submissionType" value="sleep">
                            <input type="hidden" name="userId" value="{{ user.id }}">


                            <div class="mb-6 col-12" id="secondaryConcerns">
                                <label class="mb-4">In addition to sleep difficulties, what secondary concerns have been identified?</label>
                                {% for symptom in craft.categories.group('sleepSymptoms') %}
                                <div class="checkbox mb-3">
                                    {% set checked = false %}
                                    {% if symptom.title in secondaryConcerns %}
                                        {% set checked = true %}
                                    {% endif %}
                                    <input type="checkbox" id="sc-{{ symptom.slug }}" name="secondaryConcerns[]" {% if checked %}checked{% endif %} value="{{ symptom.title }}">
                                    <label for="sc-{{ symptom.slug }}">{{ symptom.title }}</label>
                                </div>
                                {% endfor %}

                                <small class="mt-4 d-block">**Selection not required.</small>
                            </div>


                            <div class="mb-6 col-12">
                                <div class="field-wrap mb-5" id="updatedPathways">
                                    <div class="mb-4">
                                        <label class="mb-3">Please select any relevant pathways contributing to sleep difficulties interpreted as:</label>
                                        <small>*Indicates a supplement with applicable mechanism is currently unavailable.</small>
                                    </div>


                                    {% set pathwayList = craft.categories.group('sleepBiomarkers') %}

                                    {% set pathwayBase = [] %}

                                    {% for category in pathwayList %}
                                        {% set base = category | replace('Low') | replace('High') | replace(' ') %}
                                        {% if base not in pathwayBase %}
                                            {% set pathwayBase = pathwayBase|merge([base]) %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="radio-group-head">
                                        <p>Low</p>
                                        <span></span>
                                        <p>High</p>
                                    </div>

                                    {% for item in pathwayBase|sort %}
                                        <div class="radio-group">

                                            {% set low = 'Low ' ~ item %}
                                            {% if low in pathwayList %}
                                                {% set checked = false %}

                                                {% if low in relevantPathways %}
                                                    {% set checked = true %}
                                                {% endif %}

                                            <input type="checkbox" name="relevantPathways[]" value="{{ low }}" id="low-{{ item }}" {% if checked %}checked{% endif %} />
                                            <label class="radio-button" for="low-{{ item }}"></label>
                                            {% else %}
                                            <span class="no-value">*</span>
                                            {% endif %}


                                            <span class="pathway">{{ item }}</span>


                                            {% set high = 'High ' ~ item %}
                                            {% if high in pathwayList %}
                                                {% set checked = false %}

                                                {% if high in relevantPathways %}
                                                    {% set checked = true %}
                                                {% endif %}


                                            <input type="checkbox" name="relevantPathways[]" value="{{ high }}" id="high-{{ item }}" {% if checked %}checked{% endif %} />
                                            <label class="radio-button" for="high-{{ item }}"></label>
                                            {% else %}
                                            <span class="no-value">*</span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                    <small class="mt-4 d-block">**Selection not required.</small>

                                </div>
                            </div>





                            <div class="mb-6 col-12" id="excludedIngredients">
                                <label class="mb-4">Of the following, are there any ingredients that should be excluded from supplement selection?</label>
                                <div class="d-flex flex-wrap">
                                {% for ingredient in craft.categories.group('ingredients') %}

                                {% set checked = false %}
                                {% if ingredient.title in excludedIngredients %}
                                    {% set checked = true %}
                                {% endif %}

                                <div class="checkbox col-6 col-sm-3 pr-3 mb-4">
                                    <input type="checkbox" id="ingredients-{{ ingredient.slug }}" name="excludedIngredients[]" value="{{ ingredient.title }}" {% if checked %}checked{% endif %}>
                                    <label for="ingredients-{{ ingredient.slug }}">{{ ingredient.title }}</label>
                                </div>
                                {% endfor %}
                                </div>

                                <small class="d-block">**Selection not required.</small>
                            </div>



                            <div class="mb-6" id="preferredPhase">
                                <div class="field-wrap">
                                    <label class="mb-4">Which phase of pathway support is preferred?</label>

                                    <div>
                                        <div class="mb-4 mr-4">
                                            <div class="checkbox">
                                                <input type="radio" id="pp-amino" name="preferredPhase" {% if 'Amino acid' in preferredPhase %}checked{% endif %} value="Amino acid">
                                                <label for="pp-amino">Amino acid - Basic precursor-based formulas</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 mr-4">
                                            <div class="checkbox">
                                                <input type="radio" id="pp-comprehensive" name="preferredPhase" {% if 'Comprehensive' in preferredPhase %}checked{% endif %} value="Comprehensive">
                                                <label for="pp-comprehensive">Comprehensive - Personalized botanical network blends</label>
                                            </div>
                                        </div>

                                        <div class="mb-4 mr-4 d-none">
                                            <div class="checkbox">
                                                <input type="radio" id="pp-as-needed" name="preferredPhase" {% if 'As needed' in preferredPhase %}checked{% endif %} value="As needed">
                                                <label for="pp-as-needed">As needed - GABA receptor mechanisms</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <p class="text-bolds mb-4">Please enter patient information.</p>

                                <div class="d-sm-flex">
                                    <div class="mb-3 col-12 col-sm-6" id="sex">
                                        <div class="field-wrap">
                                            <label class="mb-4">Sex</label>

                                            <div class="d-flex flex-wrap">
                                                <div class="mb-4 mr-4">
                                                    <div class="checkbox">
                                                        <input type="radio" id="pathway-sex-male" name="Gender" {% if sex == 'male' %}checked{% endif %} value="Male">
                                                        <label for="pathway-sex-male">Male</label>
                                                    </div>
                                                </div>

                                                <div class="mb-4 mr-4">
                                                    <div class="checkbox">
                                                        <input type="radio" id="pathway-sex-female" name="Gender" {% if sex == 'female' %}checked{% endif %} value="Female">
                                                        <label for="pathway-sex-female">Female</label>
                                                    </div>
                                                </div>

                                                <div class="mb-4 mr-4">
                                                    <div class="checkbox">
                                                        <input type="radio" id="pathway-sex-unspecified" name="Gender" {% if sex == 'unspecified' %}checked{% endif %} value="Unspecified">
                                                        <label for="pathway-sex-unspecified">Unspecified</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <div class="field-wrap">
                                            <label>Age</label>
                                            <input type="number" name="Age" id="Age" value="{{ age }}">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="text-center">
                                <input type="submit" class="button disabled" disabled value="{% if submissionId %}Edit{% else %}Add{% endif %} Submission" />
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="alert-box" id="pir-success">
        <span class="close" data-click-target="pir-success"><svg width="12px" height="12px" viewBox="0 0 14 14"><path fill="#7B858E" d="M14 1.4L12.6 0 7 5.6 1.4 0 0 1.4 5.6 7 0 12.6 1.4 14 7 8.4l5.6 5.6 1.4-1.4L8.4 7 14 1.4z"/></svg></span>
        <svg class="mx-auto mb-4" width="20px" height="20px" viewBox="0 0 8 6"><path fill="#01B433" d="M2.9 4.4L.8 2.3l-.8.8L2.9 6 8 .8 7.2 0z"/></svg>
        <p class="h3 mb-2">Submission Successful</p>
        <p>You will be redirected to the PIR report shortly.</p>
    </div>


    <script>
        var $ = jQuery;

        function disableSubmit() {
            $('#edit-pir-form .button').addClass('disabled').attr('disabled', 'disabled');
        }

        $('#edit-pir-form :input').on('keyup change', function() {
            var pass = false;


            if( $('#preferredPhase input:checked').length > 0 ) {
                pass = true;
            } else {
                pass = false;
                disableSubmit();
                return;
            }


            if( $('#sex input[type=radio]:checked').length ) {
                pass = true;
            } else {
                pass = false;
                disableSubmit();
                return;
            }

            var age = $('#Age').val();
            if( age.length > 0 ) {
                pass = true;
            } else {
                pass = false;
                disableSubmit();
                return;
            }

            if(pass == true) {
                $('#edit-pir-form .button').removeClass('disabled').removeAttr('disabled');
            }
        });


        $('#edit-pir-form').submit(function(e) {
            e.preventDefault();


            $('.radio-group input').each(function(){
                var el = $(this);
                if( el.is(':checked') ) {
                    var rVal = el.val();
                    $('#pathway-radios input').each(function(){
                        if( $(this).val() === rVal ) {
                            $(this).prop( "checked", true );
                        }
                    });
                }
            });


            var form = $(this);

            $('html').addClass('thinking');

            $.ajax({
                type: 'post',
                cache: false,
                data: form.serialize(),
                url: '/neuroselect-module/sleep/sleep-pir',
                dataType: 'json'
            }).done(function (data) {

                console.log(data);

                var subId = data.submissionId;

                if( subId == '' ) {
                    $('.pir-update-error').removeClass('d-none');
                    $('html').removeClass('thinking');
                } else {

                    setTimeout(function(){
                        if( $('#submissionId').val() != '' ){
                            $('html').removeClass('thinking');
                            $('.pir-update-success').removeClass('d-none');
                            $('.pir-update-error').addClass('d-none');
                            $('#edit-pir-form .button').addClass('disabled').attr('disabled');

                            $('html, body').animate({
                               scrollTop: $(".account-page__content").offset().top
                           }, 1200);

                        } else {

                            $('html').addClass('submission-successful');

                            setTimeout(function(){
                                $('html').removeClass('submission-successful').addClass('submission-generating');
                            }, 2000);


                            var link = document.getElementById('submission-url').href + subId;

                            setTimeout(function(){
                                location.href = link;
                            }, 5000);
                        }
                    }, 2000);
                }



            }).fail(function (data) {
               console.log("Took an L" + data.status);

               setTimeout(function(){
                   $('html').removeClass('thinking');
                   $('.pir-update-error').removeClass('d-none');
                   $('.pir-update-success').addClass('d-none');
               }, 2000);
            });
        });

    </script>


{% endblock %}
