{% if analyticsEnabled %}
<script type="text/javascript">
	var utag_data = {
		sizmek_activity_id: "", //
		sizmek_tag_id: "", // Sizmek Tag ID (TID)
		page_name: "", // Contains a user-friendly name for the page.
		page_section: "", // Contains a user-friendly page section, e.g. 'configuration section'.
		page_category: "", // Contains a user-friendly page category, e.g. 'appliance page'.
		page_subcategory: "", // Contains a user-friendly page subcategory, e.g. 'refrigerator page'.
		page_type: "", // Contains a user-friendly page type, e.g. 'cart page'.
		search_term: "", // Contains the search term or query submitted by a visitor.
		search_results: "", // Contains the number of results returned with a search query.
		search_type: "", // Contains the type of search conducted by the visitor.
		parent_title: "", // Title of parent window
		parent_domain: "", // Domain of parent window
		parent_pathname: "", // Pathname of parent window
		parent_url: "", // URL of parent window
		parent_referrer: "", // Referrer of parent window
		sizmek_cn: "", // Sizmek CN
		sizmek_tag_type: "", // Sizmek Tag Type
		sizmek_tval: "", // Sizmek TVAL
		doubleclick_id: "", // Doubleclick Type
		doubleclick_type: "", //
		doubleclick_category: "", //
		google_tracking_id: "", //
		google_tracker_name: "" // Google Tracker Name
	}
</script>
<!-- Loading script asynchronously -->
<script type="text/javascript">
		(function (a, b, c, d) { a = '//tags.tiqcdn.com/utag/advantagepublisherservices/aps/prod/utag.js'; b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true; a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a); })();
</script>
{% endif %}
