<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="home" href="{{ siteUrl }}" />
<link rel="stylesheet" href="/css/main.css?v=23.0.3">
<link rel="stylesheet" href="/css/print-pdf.css?v=1" media="print">
{% set _seg1 = craft.app.request.getSegment(1) %}
{% set _seg2 = craft.app.request.getSegment(2) %}
{% if _seg2 == 'report' and _seg1 and _seg1|lower in ['neuro-q', 'survey'] %}
<link rel="stylesheet" href="/css/survey-print.css?v=2" media="print">
{% endif %}
{% if craft.app.request.getSegment(1) == 'products' %}
	<link rel="stylesheet" href="/css/custom.css" />
{% endif %}
<link rel="shortcut icon" type="image/ico" href="/images/favicons/favicon.png" />
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png" />
<link rel="icon" href="/images/favicons/android-favicon.png">

<script src="/js/jquery.js"></script>

{% if constant('CRAFT_ENVIRONMENT') in ['production', 'staging'] %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117519601-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117519601-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N46834T');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% hook 'seomaticRender' %}
<script type="text/javascript" src="https://www.sagepayments.net/pay/1.0.2/js/pay.min.js"></script>