{% if not currentUser or not currentUser.isInGroup('patients') %}
{% redirect "patients/login" %}
{% endif %}
{% set title = 'Patient Dashboard' %}
{% extends 'layouts/_accounts-patient' %}
{% block content %}
{% set patientName = currentUser.firstName ? currentUser.firstName ~ ' ' ~ currentUser.lastName : currentUser.username
%}

<img class="patient-portal__bg" src="https://www.neuroscienceinc.com/images/general/accent.jpg" alt="">

<div class="patient-portal-content">

  <div class="patient-portal-content__content">
    <div class="mb-4">
      <a class="mb-4 d-inline-block" href="/patients/dashboard/">
        < Return to Dashboard</a>
          <div class="d-flex flex-items-center flex-justify-between">
            <h2 class="m-0">Autoship Orders:</h2>
            <a class="btn btn--sm" href="/patients/dashboard#shop-product-store">+ New</a>
          </div>
    </div>

    {% set orders = craft.enupalStripe.getSubscriptionsByUser(currentUser.id) %}
    {% if orders|length %}
    <section class="patientOrderHistory">
      <div class="recent-order">
        <div class="recent-wrapper">
          <table width="100%" border="0">
            <thead>
              <tr>
                <th style="max-width: 200px;">Order #</th>
                <th class="text-center">Status</th>
                <th class="text-center">Next Shipment</th>
                <th class="text-center">Frequency</th>
                <th class="text-center">Order date</th>
                <th class="text-center">Order Name</th>
                <th class="text-center">Order Total</th>
              </tr>
            </thead>
            <tbody>

              {% set orders = craft.enupalStripe.getSubscriptionsByUser(currentUser.id) %}
              {% for order in orders|reverse %}
              {% set subscription = order.getSubscription() %}
              {% set frequency = order.getPaymentForm('description') %}
              <tr>
                <td><a href="{{ url('patients/autoship/order', { number: order.number }) }}">{{ order.number }}</a></td>
                <td class="text-center" style="text-transform: capitalize;">
                  {% if subscription.status != 'canceled' %}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"
                      fill="rgba(1,180,51,1)" />
                  </svg>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-11.414L9.172 7.757 7.757 9.172 10.586 12l-2.829 2.828 1.415 1.415L12 13.414l2.828 2.829 1.415-1.415L13.414 12l2.829-2.828-1.415-1.415L12 10.586z"
                      fill="rgba(179,186,197,1)" />
                  </svg>
                  {% endif %}

                </td>

                <td class="text-center">{{ subscription.endDate|date }}</td>

                <td class="text-center">{{ frequency }}</td>

                <td class="text-center">{{ order.dateOrdered|date() }}</td>

                <td class="text-center">{{ order.email }}</td>

                <td class="text-center">{{ order.totalPrice|currency(order.currency) }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {% else %}
    <div class="">
      <p class="mb-0">You have no autoship orders. Click shop now below to get started!</p>
      <a class="btn" href="/patients/dashboard#shop-product-store">Shop now</a>
    </div>
    {% endif %}

  </div>
  <div class="patient-portal-content__sidebar">
    {% include 'patients/sidebar' %}
  </div>
</div>

<form method="post" id="frm-cancel-subscription">
  <input type="hidden" name="action" value="enupal-stripe/stripe/cancel-subscription">
  <input type="hidden" name="subscriptionId" value="">
  <input type="hidden" name="cancelAtPeriodEnd" value="true">
  <input type="hidden" name="redirect" value="{{ 'patients/auto-ship'|hash }}">
  {{ csrfInput() }}
</form>
{% endblock %}

{% js %}
$(document).ready(function(){
$(document).on("click", "a#btn-cancel-subscription", function() {
let subscriptionId = $(this).attr('data-subscriptionId');
let text = "Are you sure to cancel subscription?";
if (confirm(text) == true) {
$("form#frm-cancel-subscription input[name='subscriptionId']").val(subscriptionId);
$("form#frm-cancel-subscription").submit();
}else{
return false;
}
})
})
{% endjs %}