{% extends "layouts/_layout" %}

{% block content %}

       
    <img class="patient-portal__bg" style="position: absolute; top: 0; left: 0; max-width: 20%; width: 320px; z-index: -1" src="https://www.neuroscienceinc.com/images/general/accent.jpg" alt="">
    
    <div class="patient-portal-content wrapper py-6 my-6" style="">
	    
	    <div class="patient-portal-content__content">
		    <div class="wrapper wrapper--thin my-6 text-center">
	            <div>
	                <p>You must <a href="https://www.neuroscienceinc.com/login/">login</a> or create your account to view this page. If you have not setup your account, please check your email for the invitation from your Health Care Professional.</p>
	            </div>
            </div>
        </div>  
      
	    <div class="patient-portal-content__sidebar">
		    
		   
	    </div>
    </div>
   
{% endblock %}
