{#
# Registers
# ---------------
#
#}

{% extends "_layout" %}

{% block content %}
{% set countries = craft.commerce.countries.allCountriesAsList %}

{% set model = address is defined ? address : null %}

<div class="wrapper-full content-block bg-light section-short">
	<div class="wrapper wrapper--thin text-center">
		<h2 class="h2 in-view" data-animate="up">Create an Account</h2>
		<div class="user-content banner-content in-view" data-animate="up">
			<p>NeuroScience chooses to work exclusively with licensed healthcare providers. Those eligible may complete the
				below application for an account. You will receive an email confirming we received your application.</p>
		</div>
	</div>
</div>


<div class="wrapper-full bg-light">
	<div class="card register-form-wrap" data-animate="up">
		<p class="p-sm">* required field</p>

		<form class="form form-compact" method="post" accept-charset="UTF-8" enctype="multipart/form-data" validate>
			{{ csrfInput() }}
			<input type="hidden" name="action" value="users/save-user">
			{{ redirectInput('account-pending') }}

			{% macro errorList(errors) %}
			{% if errors %}
			<ul class="errors">
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endmacro %}

			{% from _self import errorList %}
			<fieldset>
				<p class="h6 mb-2">Your information</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap {% if account is defined and account.firstName == '' %}field-wrap--error{% endif %}">
							<label for="firstName">First Name</label>
							<input id="firstName" type="text" class="required-field" placeholder="First name *" name="firstName" {%-
								if account is defined %} value="{{ account.firstName }}" {% endif -%} required>

						</div>
					</div>
					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap {% if account is defined and account.lastName == '' %}field-wrap--error{% endif %}">
							<label for="lastName">Last Name</label>
							<input id="lastName" class="input-middle required-field" type="text" placeholder="Last name *"
								name="lastName" {%- if account is defined %} value="{{ account.lastName }}" {% endif -%} required>
						</div>
					</div>

					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap">
							<label for="Credentials">Credentials</label>
							<input id="credentials" placeholder="Credentials *" class="required-field" type="text"
								name="fields[credentials]" {%- if account is defined %} value="{{ account.credentials}}" {% endif %}
								required>

							{% if account is defined %}
							{{ errorList(account.getErrors('credentials')) }}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div
							class="field-wrap {% if account is defined and account.businessName == '' %}field-wrap--error{% endif %}">
							<label for="businessName">Business Name</label>
							<input type="text" class="required-field" placeholder="Business Name *" name="fields[businessName]"
								id="businessName" {%- if account is defined %} value="{{ account.businessName}}" {% endif %}
								minlength="2" maxlength="100" required />
						</div>
					</div>
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label for="npiNumber">NPI Number</label>
							<input type="text" class="input-left" name="fields[npiNumber]" id="npiNumber" placeholder="NPI Number" {%-
								if account is defined %} value="{{ account.npiNumber}}" {% endif %} />
						</div>
					</div>
			</fieldset>

			<fieldset>
				<p class="h6 mt-4 mb-2">Primary Business Address</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--8">
						<div class="field-wrap {% if account is defined and account.address == '' %}field-wrap--error{% endif %}">
							<label for="address">Street Address</label>
							<input id="address" class="required-field" type="text" placeholder="Street Address *"
								name="fields[address]" {%- if account is defined %} value="{{ account.address}}" {% endif %} required>
						</div>
					</div>
					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap">
							<label for="addressLine2">Suite/Apt #</label>
							<input id="addressLine2" type="text" class="input-left" placeholder="Suite/Apt #"
								name="fields[addressLine2]" {%- if account is defined %} value="{{ account.addressLine2}}" {% endif %}>

							{% if account is defined %}
							{{ errorList(account.getErrors('addressLine2')) }}
							{% endif %}
						</div>
					</div>

					<div class="col--xs--12 col--sm--5">
						<div class="field-wrap {% if account is defined and account.city == '' %}field-wrap--error{% endif %}">
							<label for="city">City</label>
							<input id="city" class="required-field" type="text" placeholder="City *" name="fields[city]" {%- if
								account is defined %} value="{{ account.city}}" {% endif %} required>
						</div>
					</div>
					<div class="col--xs--8 col--sm--5">



						<div class="field-wrap">
							<label for="state">State</label>

							<div class="select-wrap">
								<select class="address-country u-full-width input-middle required-field" name="fields[state]" id="state"
									required>
									<option>State *</option>
									{% for state in craft.commerce.states.allEnabledStates %}
									<option value="{{ state.name }}">{{ state.name }}</option>
									{% endfor %}
								</select>

								{% if account is defined and account.state == '' %}{{account.state}}{% endif %}
							</div>
						</div>
					</div>
					<div class="col--xs--4 col--sm--2">
						<div class="field-wrap{% if account is defined and account.zip == '' %} field-wrap--error{% endif %}">
							<label for="zip">Zip</label>
							<input id="zip" class="required-field" placeholder="Zip *" type="text" name="fields[zip]" maxlength="5"
								{%- if account is defined %} value="{{ account.zip }}" {% endif %} required>
						</div>
					</div>

					<div class="col--xs--12">
						<div class="field-wrap">
							<label for="country">Country</label>
							<div class="select-wrap">
								<select class="address-country u-full-width required-field" name="fields[country]" required
									id="country">
									<option value="">Country *</option>
									{% for key, option in countries %}
									{% set optionValue = (model ? model.countryId : '') %}
									<option value="{{ option }}" {% if option=='United States' %} selected{% endif %}>{{ option }}
									</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<p class="h6 mt-4 mb-2">Account Information</p>

				<div
					class="field-wrap has-tool-tip{% if account is defined and account.email == '' %} field-wrap--error{% endif %}">
					<label for="email">Email</label>
					<input id="email" class="required-field" type="text" name="email" placeholder="Email address *" {%- if account
						is defined %} value="{{ account.email }}" {% endif %} required>

					<div class="tool-tip d-none">
						<p>You must enter a valid email address</p>
					</div>

				</div>

				<div
					class="field-wrap has-tool-tip {% if account is defined and account.password == '' %} field-wrap--error{% endif %}">
					<label for="password">Password</label>
					<input id="password" placeholder="Password *" class="required-field" minlength="8" type="password"
						name="password" required>

					<div class="tool-tip">
						<p>Password requires:</p>
						<ul class="ul ul--sm">
							<li>Alpha and numeric characters</li>
							<li>At least 8 characters</li>
						</ul>
					</div>
				</div>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap{% if account is defined and account.phone == '' %} field-wrap--error{% endif %}">
							<label for="phone">Phone</label>
							<input type="text" class="required-field" name="fields[phone]" id="phone" placeholder="Phone number *"
								required {%- if account is defined %} value="{{ account.phone}}" {% endif %} />
						</div>
					</div>

					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label for="fax">Fax</label>
							<input type="text" class="input-left" name="fields[fax]" id="fax" placeholder="Fax number" {%- if account
								is defined %} value="{{ account.fax }}" {% endif %} />

						</div>
					</div>
				</div>

				<div class="field-wrap">
					<label for="website">Website</label>
					<input type="text" placeholder="Website" name="fields[website]" id="website" {%- if account is defined %}
						value="{{ account.website}}" {% endif %} minlength="2" maxlength="100" />
				</div>

				<div class="field-wrap">
					<label for="username">Username</label>
					<input id="username" type="hidden" placeholder="Username" disabled name="username" {%- if account is defined
						%} value="{{ account.username }}" {% endif -%}>
				</div>



				<div
					class="field-wrap field-wrap--borders input-top{% if account is defined and account.secretAnswer == '' %} field-wrap--borders--error{% endif %}">
					<label class="visible-label" for="licensePhotoUpload">Healthcare Provider License Photo Copy Upload *</label>
					<p class="p-sm mb-3">Please upload a copy of your Healthcare Provider License</p>
					<input id="licensePhotoUpload" type="file" name="fields[licensePhotoUpload][]" multiple class="required-field"
						required>
				</div>

				<div class="field-wrap mt-3 px-2">
					<p class="p-sm mb-2">NeuroScience products are taxable in some states. I acknowledge that I am registered with
						my state to purchase products from NeuroScience with sales tax exempt status. I will complete the
						documentation that is sent to me so that I will not be charged sales tax when I order products from
						NeuroScience.</p>

					<label class="visible-label radio-btn">
						<input type="checkbox" name="fields[taxAcknowledgement]" id="taxAcknowledgement">
						<span class="slider"></span>
					</label>

					{% if account is defined %}
					{{ errorList(account.getErrors('taxAgreement')) }}
					{% endif %}
				</div>
			</fieldset>


			<fieldset class="mt-4">
				<p class="h6 mt-4 mb-2">Help Us Get to Know Your Practice</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label class="visible-labels" for="whatIsTheSpecialtyScopeOfYourPractice">What is the specialty/scope of
								your practice? *</label>
							<input type="text" placeholder="Practice specialty/scope?"
								name="fields[whatIsTheSpecialtyScopeOfYourPractice]" id="whatIsTheSpecialtyScopeOfYourPractice" {%- if
								account is defined %} value="{{ account.whatIsTheSpecialtyScopeOfYourPractice }}" {% endif %}
								minlength="2" maxlength="100" />
							{% if account is defined %}
							{{ errorList(account.getErrors('whatIsTheSpecialtyScopeOfYourPractice')) }}
							{% endif %}
						</div>
					</div>

					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label class="visible-labels" for="howManyYearsHaveYouBeenInBusiness">How many years have you been in
								business?</label>
							<input type="number" placeholder="Years in business?" class="input-left "
								name="fields[howManyYearsHaveYouBeenInBusiness]" id="howManyYearsHaveYouBeenInBusiness" {%- if account
								is defined %} value="{{ account.howManyYearsHaveYouBeenInBusiness }}" {% endif %} minlength="2"
								maxlength="100" />
							{% if account is defined %}
							{{ errorList(account.getErrors('howManyYearsHaveYouBeenInBusiness')) }}
							{% endif %}
						</div>
					</div>
				</div>


				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howWillYouBeOrdering">How will you be ordering? (Select all that
						apply)</label>
					<input type="hidden" name="fields[howWillYouBeOrdering]" value="">
					<ul class="radio-list radio-list--inline">
						{% for option in entry.howWillYouBeOrdering.options %}
						<li>
							<label class="visible-label">
								<input type="checkbox" name="fields[howWillYouBeOrdering][]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howWillYouBeOrdering')) }}
					{% endif %}
				</div>

				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howOftenWillYouBeOrdering">How often will you be ordering?</label>
					<input type="hidden" name="fields[howOftenWillYouBeOrdering]" value="">
					<ul class="radio-list radio-list--inline">
						{% for option in entry.howOftenWillYouBeOrdering.options %}
						<li>
							<label class="visible-label">
								<input type="radio" name="fields[howOftenWillYouBeOrdering]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howOftenWillYouBeOrdering')) }}
					{% endif %}
				</div>

				<div class="field-wrap sr-only">
					<input type="text" class="input-left" name="fields[howMuchWillYouOrder]" id="howMuchWillYouOrder" value=""
						maxlength="50" />
				</div>

				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howDidYouHearAboutNeuroscience">How did you hear about
						NeuroScience?</label>
					<input type="hidden" name="fields[howDidYouHearAboutNeuroscience]" value="">
					<ul class="radio-list">
						{% for option in entry.howDidYouHearAboutNeuroscience.options %}
						<li>
							<label class="visible-label">
								<input type="radio" name="fields[howDidYouHearAboutNeuroscience]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howDidYouHearAboutNeuroscience')) }}
					{% endif %}
				</div>

			</fieldset>



			<fieldset class="mt-4 mb-5">
				<label class="visible-label" for="receiveUpdates">Choose one complimentary welcome box below. Each box is
					curated to highlight specific products in our portfolio:</label>
				<div class="fancy-radios">

					<label class="visible-label">
						<div class="radio-products__title">Customer Favorites Box:</div>
						<input type="radio" name="fields[complimentaryBox]" checked value="customerFavoritesBox">
						<div class="radio-products">

							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/BalanceD_60.jpg" /> Balance D
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/TravaCor_60.jpg" /> TravaCor
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/CalmCP_60.jpg" /> Calm CP
							</div>
						</div>
					</label>

					<label class="visible-label">
						<div class="radio-products__title">Formula Specific Data Box:</div>
						<input type="radio" name="fields[complimentaryBox]" value="formulaSpecificDataBox">
						<div class="radio-products">
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/Alpha_GABA_PM_60.jpg" /> Alpha GABA PM
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/Kavinace_OS_60.jpg" /> Kavinace OS
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/TravaCor_60.jpg" /> TravaCor
							</div>
						</div>
					</label>

					<label class="visible-label">
						<div class="radio-products__title">Variety Box:</div>
						<input type="radio" name="fields[complimentaryBox]" value="varietyBox">
						<div class="radio-products">
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/FocusDL_60.jpg" /> Focus DL
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/GABATrex_60.jpg" /> GABA Trex
							</div>
							<div class="radio-product">
								<img src="https://www.neuroscienceinc.com/images/products/Kavinace_OS_60.jpg" /> Kavinace OS
							</div>
						</div>
					</label>

					<small>Welcome box will be sent upon application approval.</small>
				</div>
			</fieldset>


			<div class="d-none">
				{% set eventLink = craft.app.request.getParam('event') %}
				<input type="checkbox" name="fields[eventRegistration]" id="eventRegistration" {% if eventLink=='true'
					%}checked="checked" {% endif %}>
			</div>


			<div class="field-wrap mt-4 mb-3">
				<label class="visible-label" for="receiveUpdates">I’d like to receive occasional emails regarding education,
					events, and supplement science.</label>
				<label class="visible-label radio-btn">
					<input type="checkbox" name="fields[receiveUpdates]" id="receiveUpdates" checked="checked">
					<span class="slider"></span>
				</label>

				{% if account is defined %}
				{{ errorList(account.getErrors('receiveUpdates')) }}
				{% endif %}
			</div>

			<div class="field-wrap">
				<p class="p-sm">Once your application is processed, you will receive an email to acknowledge and sign the
					NeuroScience Terms and Conditions, Product Resale Agreement, and MAP policy via DocuSign.</p>
			</div>

			<div class="text-center mb-4">
				<input id="register-now" type="submit" value="Submit" class="disabled" disabled>
				<small>Please fill out all required fields before submitting your application.</small>
			</div>

			<div class="text-center">
				<p class="p-sm">If you need assistance getting started, call <a class="tel" href="tel:+18883427272">(888)
						342-7272</a> or email <a href="mailto:customerservice@neurorelief.com">customerservice@neurorelief.com</a>
				</p>
			</div>

		</form>

	</div>
</div>

<div class="terms-screen" data-click-target="" data-click-bodyClass="terms-modal"></div>



{% js %}
//window.localStorage.removeItem('ns-state');
//window.localStorage.removeItem('ns-country');
//window.localStorage.removeItem('ns-question');

var $ = jQuery,
submit = $('#register-now');

function validateForm() {
var isValid = true;
$('.required-field').each(function() {
if ( $(this).val() === '' || $(this).val() === false ) {
isValid = false;
console.log($(this).attr('name') + ' == ' + isValid);
}

});
if ($('#howMuchWillYouOrder').val() != '') {
isValid = false;
}



if(isValid){
console.log('valid');
}
return isValid;
}

$('form :input').change(function() {
if( validateForm() == true ) {
submit.removeClass('disabled').removeAttr('disabled');
console.log('-------------- Valid --------------');
} else {
submit.addClass('disabled').attr('disabled', 'disabled');
console.log('===============');
console.log('INVALID');
console.log('===============');
}

console.log('valid form = ' + validateForm());
});

var email = $('#email'),
username = $('#username'),
state = $('#state'),
country = $('#country'),
question = $('#secretQuestion');

function isEmail(email) {
var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
return regex.test(email);
}

email.on('change', function(){
if(!isEmail(email.val())) {
$(this).parent('.field-wrap').addClass('field-wrap--error').find('.tool-tip').removeClass('d-none');
} else {
username.attr('value', email.val());
$(this).parent('.field-wrap').removeClass('field-wrap--error').find('.tool-tip').addClass('d-none');
}
});
state.on('change', function(){
window.localStorage.setItem('ns-state', state.val());
});
country.on('change', function(){
window.localStorage.setItem('ns-country', country.val());
});


$(document).ready(function(){
if(email.val() != ''){
username.attr('value', email.val());
}
stateVal = window.localStorage.getItem('ns-state');
if( stateVal ) {
state.val(stateVal);
}
countryVal = window.localStorage.getItem('ns-country');
if( countryVal ) {
country.val(countryVal);
}

});

{% endjs %}

{% endblock %}