{#
# Registers
# ---------------
#
#}

{% extends "_layout" %}

{% set account = user ?? null %}

{% block content %}
{% set model = address is defined ? address : null %}
{% set legalDocuments = craft.app.globals.getSetByHandle('legalDocuments') %}
{% set legalModalWasOpened = craft.app.request.getBodyParam('registerLegalModalOpened') == '1' %}
{% set legalSignValue = '' %}
{% if legalModalWasOpened %}
{% set legalSignValue = craft.app.request.getBodyParam('fields[allTermsAgreedSignature]', '') %}
{% if legalSignValue is empty and account %}
{% set legalSignValue = account.allTermsAgreedSignature ?? '' %}
{% endif %}
{% endif %}

<div class="wrapper-full content-block bg-light section-short">
	<div class="wrapper wrapper--thin text-center">
		<h2 class="h2 in-view" data-animate="up">Create an Account</h2>
		<div class="user-content banner-content in-view" data-animate="up">
			<p>NeuroScience chooses to work exclusively with licensed healthcare providers. Those eligible may complete the
				below application for an account. You will receive an email confirming we received your application.</p>
		</div>
	</div>
</div>


<div class="wrapper-full bg-light">
	<div class="card register-form-wrap" data-animate="up">
		<p class="p-sm">* required field</p>

		<form class="form form-compact" method="post" accept-charset="UTF-8" enctype="multipart/form-data" validate>
			{{ csrfInput() }}
			<input type="hidden" name="action" value="users/save-user">
			{{ redirectInput('account-pending') }}

			{% macro errorList(errors) %}
			{% if errors %}
			<ul class="errors">
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endmacro %}

			{% from _self import errorList %}
			<fieldset>
				<p class="h6 mb-2">Your information</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--4">

						<div class="field-wrap {% if account and account.hasErrors('firstName') %}field-wrap--error{% endif %}">

							<label for="firstName">First Name</label>
							<input id="firstName" type="text" class="required-field" placeholder="First name *" name="firstName"
								value="{{ account.firstName ?? '' }}" required>


						</div>
					</div>
					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap {% if account and account.hasErrors('lastName') %}field-wrap--error{% endif %}">

							<label for="lastName">Last Name</label>
							<input id="lastName" class="input-middle required-field" type="text" placeholder="Last name *"
								name="lastName" value="{{ account.lastName ?? '' }}" required>
						</div>
					</div>

					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap">
							<label for="Credentials">Credentials</label>
							<input id="credentials" placeholder="Credentials *" class="required-field" type="text"
								name="fields[credentials]" value="{{ account.fields.credentials ?? '' }}" required>

							{% if account is defined %}
							{{ errorList(account.getErrors('credentials')) }}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap {% if account and account.hasErrors('businessName') %}field-wrap--error{% endif %}">
							<label for="businessName">Business Name</label>
							<input type="text" class="required-field" placeholder="Business Name *" name="fields[businessName]"
								id="businessName" value="{{ account.fields.businessName ?? '' }}" minlength="2" maxlength="100"
								required />
						</div>
					</div>
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label for="npiNumber">NPI Number</label>
							<input type="text" class="input-left" name="fields[npiNumber]" id="npiNumber" placeholder="NPI Number"
								value="{{ account.fields.npiNumber ?? '' }}" />
						</div>
					</div>
			</fieldset>

			<fieldset>
				<p class="h6 mt-4 mb-2">Primary Business Address</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--8">
						<div class="field-wrap {% if account and account.hasErrors('address') %}field-wrap--error{% endif %}">
							<label for="address">Street Address</label>
							<input id="address" class="required-field" type="text" placeholder="Street Address *"
								name="fields[address]" value="{{ account.fields.address ?? '' }}" required>
						</div>
					</div>
					<div class="col--xs--12 col--sm--4">
						<div class="field-wrap">
							<label for="addressLine2">Suite/Apt #</label>
							<input id="addressLine2" type="text" class="input-left" placeholder="Suite/Apt #"
								name="fields[addressLine2]" value="{{ account.fields.addressLine2 ?? '' }}">

							{% if account is defined %}
							{{ errorList(account.getErrors('addressLine2')) }}
							{% endif %}
						</div>
					</div>

					<div class="col--xs--12 col--sm--5">
						<div class="field-wrap {% if account and account.hasErrors('city') %}field-wrap--error{% endif %}">
							<label for="city">City</label>
							<input id="city" class="required-field" type="text" placeholder="City *" name="fields[city]"
								value="{{ account.fields.city ?? '' }}" required>
						</div>
					</div>
					<div class="col--xs--8 col--sm--5">



						<div class="field-wrap">
							<label for="state">State</label>

							<div class="select-wrap">
								{% set usStates = craft.commerce.store.getStore().getAdministrativeAreasListByCountryCode()['US'] ?? {}
								%}
								<select class="address-country u-full-width input-middle required-field" name="fields[state]" id="state"
									required>
									<option value="">State *</option>
									{% for stateCode, stateLabel in usStates %}
									<option value="{{ stateLabel }}" {% if account and account.fields.state is defined and
										account.fields.state==stateLabel %} selected{% endif %}>
										{{ stateLabel }}
									</option>
									{% endfor %}
								</select>

							</div>
						</div>
					</div>
					<div class="col--xs--4 col--sm--2">
						<div class="field-wrap {% if account and account.hasErrors('zip') %}field-wrap--error{% endif %}">
							<label for="zip">Zip</label>
							<input id="zip" class="required-field" placeholder="Zip *" type="text" name="fields[zip]" maxlength="5"
								value="{{ account.fields.zip ?? '' }}" required>
						</div>
					</div>

					<div class="col--xs--12">
						<div class="field-wrap">
							<label for="country">Country</label>
							<div class="select-wrap">
								<select class="address-country u-full-width required-field" name="fields[country]" required
									id="country">
									<option value="United States" selected="">United States</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<p class="h6 mt-4 mb-2">Account Information</p>

				<div
					class="field-wrap has-tool-tip {% if account and account.hasErrors('email') %}field-wrap--error{% endif %}">
					<label for="email">Email</label>
					<input id="email" class="required-field" type="text" name="email" placeholder="Email address *"
						value="{{ account.email ?? '' }}" required>

					<div class="tool-tip d-none">
						<p>You must enter a valid email address</p>
					</div>

				</div>

				<div
					class="field-wrap has-tool-tip {% if account and account.hasErrors('password') %}field-wrap--error{% endif %}">
					<label for="password">Password</label>
					<input id="password" placeholder="Password *" class="required-field" minlength="8" type="password"
						name="password" autocomplete="current-password" required>

					<div class="tool-tip">
						<p>Password requires:</p>
						<ul class="ul ul--sm">
							<li>Alpha and numeric characters</li>
							<li>At least 8 characters</li>
						</ul>
					</div>
				</div>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap {% if account and account.hasErrors('phone') %}field-wrap--error{% endif %}">
							<label for="phone">Phone</label>
							<input type="text" class="required-field" name="fields[phone]" id="phone" placeholder="Phone number *"
								required value="{{ account.fields.phone ?? '' }}" />
						</div>
					</div>

					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label for="fax">Fax</label>
							<input type="text" class="input-left" name="fields[fax]" id="fax" placeholder="Fax number"
								value="{{ account.fields.fax ?? '' }}" />

						</div>
					</div>
				</div>

				<div class="field-wrap">
					<label for="website">Website</label>
					<input type="text" placeholder="Website" name="fields[website]" id="website"
						value="{{ account.fields.website ?? '' }}" minlength="2" maxlength="100" />
				</div>

				<div class="field-wrap">
					<label for="username">Username</label>
					<input id="username" type="hidden" placeholder="Username" name="username" value="{{ account.email ?? '' }}">
				</div>



				<div
					class="field-wrap field-wrap--borders input-top{% if account and account.hasErrors('secretAnswer') %}field-wrap--error{% endif %}">

					<label class="visible-label" for="licensePhotoUpload">Healthcare Provider License Photo Copy Upload *</label>
					<p class="p-sm mb-3">Please upload a copy of your Healthcare Provider License</p>
					<input id="licensePhotoUpload" type="file" name="fields[licensePhotoUpload][]" multiple class="required-field"
						required>
				</div>

				<div class="field-wrap mt-3 px-2">
					<p class="p-sm mb-2">NeuroScience products are taxable in some states. I acknowledge that I am registered with
						my state to purchase products from NeuroScience with sales tax exempt status. I will complete the
						documentation that is sent to me so that I will not be charged sales tax when I order products from
						NeuroScience.</p>

					<label class="visible-label radio-btn">
						<input type="checkbox" name="fields[taxAcknowledgement]" id="taxAcknowledgement">
						<span class="slider"></span>
					</label>

					{% if account is defined %}
					{{ errorList(account.getErrors('taxAgreement')) }}
					{% endif %}
				</div>
			</fieldset>


			<fieldset class="mt-4">
				<p class="h6 mt-4 mb-2">Help Us Get to Know Your Practice</p>

				<div class="row row--flush">
					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label class="visible-labels" for="whatIsTheSpecialtyScopeOfYourPractice">What is the specialty/scope of
								your practice? *</label>
							<input type="text" placeholder="Practice specialty/scope?"
								name="fields[whatIsTheSpecialtyScopeOfYourPractice]" id="whatIsTheSpecialtyScopeOfYourPractice"
								value="{{ account.fields.whatIsTheSpecialtyScopeOfYourPractice ?? '' }}" minlength="2"
								maxlength="100" />
							{% if account is defined %}
							{{ errorList(account.getErrors('whatIsTheSpecialtyScopeOfYourPractice')) }}
							{% endif %}
						</div>
					</div>

					<div class="col--xs--12 col--sm--6">
						<div class="field-wrap">
							<label class="visible-labels" for="howManyYearsHaveYouBeenInBusiness">How many years have you been in
								business?</label>
							<input type="number" placeholder="Years in business?" class="input-left "
								name="fields[howManyYearsHaveYouBeenInBusiness]" id="howManyYearsHaveYouBeenInBusiness"
								value="{{ account.fields.howManyYearsHaveYouBeenInBusiness ?? '' }}" minlength="2" maxlength="100" />
							{% if account is defined %}
							{{ errorList(account.getErrors('howManyYearsHaveYouBeenInBusiness')) }}
							{% endif %}
						</div>
					</div>
				</div>


				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howWillYouBeOrdering">How will you be ordering? (Select all that
						apply)</label>
					<input type="hidden" name="fields[howWillYouBeOrdering]" value="">
					<ul class="radio-list radio-list--inline">
						{% for option in entry.howWillYouBeOrdering.options %}
						<li>
							<label class="visible-label">
								<input type="checkbox" name="fields[howWillYouBeOrdering][]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howWillYouBeOrdering')) }}
					{% endif %}
				</div>

				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howOftenWillYouBeOrdering">How often will you be ordering?</label>
					<input type="hidden" name="fields[howOftenWillYouBeOrdering]" value="">
					<ul class="radio-list radio-list--inline">
						{% for option in entry.howOftenWillYouBeOrdering.options %}
						<li>
							<label class="visible-label">
								<input type="radio" name="fields[howOftenWillYouBeOrdering]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howOftenWillYouBeOrdering')) }}
					{% endif %}
				</div>

				<div class="field-wrap sr-only">
					<input type="text" class="input-left" name="fields[howMuchWillYouOrder]" id="howMuchWillYouOrder" value=""
						maxlength="50" />
				</div>

				<div class="field-wrap field-wrap--borders">
					<label class="visible-label p-sm" for="howDidYouHearAboutNeuroscience">How did you hear about
						NeuroScience?</label>
					<input type="hidden" name="fields[howDidYouHearAboutNeuroscience]" value="">
					<ul class="radio-list">
						{% for option in entry.howDidYouHearAboutNeuroscience.options %}
						<li>
							<label class="visible-label">
								<input type="radio" name="fields[howDidYouHearAboutNeuroscience]" value="{{ option.value }}">
								{{ option.label }}
							</label>
						</li>
						{% endfor %}
					</ul>

					{% if account is defined %}
					{{ errorList(account.getErrors('howDidYouHearAboutNeuroscience')) }}
					{% endif %}
				</div>

			</fieldset>




			<div class="d-none">
				{% set eventLink = craft.app.request.getParam('event') %}
				<input type="checkbox" name="fields[eventRegistration]" id="eventRegistration" {% if eventLink=='true'
					%}checked="checked" {% endif %}>
			</div>


			<div class="field-wrap mt-4 mb-3">
				<label class="visible-label" for="receiveUpdates">I’d like to receive occasional emails regarding education,
					events, and supplement science.</label>
				<label class="visible-label radio-btn">
					<input type="checkbox" name="fields[receiveUpdates]" id="receiveUpdates" checked="checked">
					<span class="slider"></span>
				</label>

				{% if account is defined %}
				{{ errorList(account.getErrors('receiveUpdates')) }}
				{% endif %}
			</div>

			<input type="hidden" name="registerLegalModalOpened" id="register-legal-modal-opened"
				value="{{ craft.app.request.getBodyParam('registerLegalModalOpened') == '1' ? '1' : '0' }}">

			<div class="field-wrap mt-4 mb-3">
				<p class="p-sm mb-3">Before you can submit this application, you must open the legal agreements below, read
					the Terms and Conditions, Product Resale Agreement, and Minimum Advertised Pricing (MAP)
					Policy, then confirm your agreement by checking the box and typing your full legal name as
					electronic signature.</p>
				<button type="button" class="btn form-terms register-legal-open mt-0" data-click-target="register-legal-modal"
					data-click-bodyClass="terms-modal">Review and agree to legal documents</button>
				<p class="p-sm register-legal-complete-msg d-none" id="register-legal-complete-msg" aria-live="polite">Legal
					agreements acknowledged. You may submit your application.</p>
			</div>

			<div class="modal-wrap" id="register-legal-modal">
				<div class="modal register-legal-modal">
					<a class="modal__close" href="#" data-click-target="register-legal-modal" data-click-bodyClass="terms-modal">
						<div>
							<p class="sr-only">Close</p>
							<svg width="18" height="18" aria-hidden="true">
								<use xlink:href="#shape-close"></use>
							</svg>
						</div>
					</a>
					<div class="modal__inner">
						<div class="modal__inner-hd">
							<div class="h2 text-flush">Legal agreements</div>
						</div>

						<div class="register-legal-doc">
							<h3 class="h6 mb-2">Terms and Conditions</h3>
							<div class="register-legal-doc__scroll user-content rte">
								{{ legalDocuments.n0007Content|raw }}
							</div>
						</div>

						<div class="register-legal-doc">
							<h3 class="h6 mb-2">Product Resale Agreement</h3>
							<div class="register-legal-doc__scroll user-content rte">
								{{ legalDocuments.n0011Content|raw }}
							</div>
						</div>

						<div class="register-legal-doc">
							<h3 class="h6 mb-2">Minimum Advertised Pricing Policy</h3>
							<div class="register-legal-doc__scroll user-content rte">
								{{ legalDocuments.n0003Content|raw }}
							</div>
						</div>

						<input type="hidden" name="fields[allTermsAgreed]" value="">

						<div class="field-wrap mt-4">
							<label class="visible-label" for="legal-agree-checkbox">I have read and agree to the Terms and
								Conditions, Product Resale Agreement, and Minimum Advertised Pricing Policy above.</label>
							<label class="visible-label radio-btn">
								<input type="checkbox" name="fields[allTermsAgreed]" value="1" id="legal-agree-checkbox" {%
									if craft.app.request.getBodyParam('registerLegalModalOpened')=='1' and
									craft.app.request.getBodyParam('fields[allTermsAgreed]')=='1' %} checked{% endif %}>
								<span class="slider"></span>
							</label>
						</div>

						<div class="field-wrap mt-3">
							<label class="visible-label" for="legal-typed-name">Electronic signature</label>
							<input type="text" id="legal-typed-name" name="fields[allTermsAgreedSignature]"
								class="register-legal-signature-field" autocomplete="off" placeholder="Type your full legal name"
								maxlength="255" value="{{ legalSignValue }}">
							<p class="p-sm mt-1">By typing your name, you acknowledge that it constitutes your electronic
								signature and that you agree to be bound by these documents to the same extent as a written
								signature.</p>
						</div>

						<input type="hidden" name="fields[allTermsAgreedDate]" id="register-all-terms-agreed-date"
							value="{{ craft.app.request.getBodyParam('fields[allTermsAgreedDate]', '')|e('html_attr') }}">

						<div class="text-center mt-4">
							<button type="button" class="btn" data-click-target="register-legal-modal"
								data-click-bodyClass="terms-modal">Close</button>
						</div>
					</div>
				</div>
				<span class="modal-screen" data-click-target="register-legal-modal" data-click-bodyClass="terms-modal"></span>
			</div>

			<p class="p-sm errors text-center mb-2" id="register-legal-form-error" hidden></p>

			<div class="text-center mb-4">
				<input id="register-now" type="submit" value="Submit" class="disabled" disabled>
				<small>Please fill out all required fields and complete the legal agreements before submitting your
					application.</small>
			</div>

			<div class="text-center">
				<p class="p-sm">If you need assistance getting started, call <a class="tel" href="tel:+18883427272">(888)
						342-7272</a> or email <a href="mailto:customerservice@neurorelief.com">customerservice@neurorelief.com</a>
				</p>
			</div>

		</form>

	</div>
</div>

<div class="terms-screen" data-click-target="" data-click-bodyClass="terms-modal"></div>



{% js %}
var $ = jQuery,
submit = $('#register-now'),
form = $('form.form-compact');

function legalModalOpenedOk() {
return $('#register-legal-modal-opened').val() === '1';
}

function legalAgreementOk() {
var nameVal = ($('#legal-typed-name').val() || '').trim();
return $('#legal-agree-checkbox').is(':checked') && nameVal.length > 0;
}

function legalFlowComplete() {
return legalModalOpenedOk() && legalAgreementOk();
}

function setAllTermsAgreedDateToNow() {
var d = new Date();
var mm = String(d.getMonth() + 1).padStart(2, '0');
var dd = String(d.getDate()).padStart(2, '0');
var yyyy = d.getFullYear();
$('#register-all-terms-agreed-date').val(mm + '/' + dd + '/' + yyyy);
}

function updateLegalCompleteMessage() {
var msg = $('#register-legal-complete-msg');
if (legalAgreementOk()) {
msg.removeClass('d-none');
} else {
msg.addClass('d-none');
}
}

function baseRequiredFieldsOk() {
var isValid = true;
$('.required-field').each(function() {
var $el = $(this),
el = $el[0];
if ($el.attr('type') === 'file') {
if (!el.files || el.files.length === 0) {
isValid = false;
}
return;
}
var v = $el.val();
if (v === '' || v === false || v == null) {
isValid = false;
}
});
if ($('#howMuchWillYouOrder').val() != '') {
isValid = false;
}
return isValid;
}

function validateForm() {
return baseRequiredFieldsOk() && legalFlowComplete();
}

function refreshSubmitState() {
updateLegalCompleteMessage();
$('#register-legal-form-error').attr('hidden', 'hidden').text('');
if( validateForm() == true ) {
submit.removeClass('disabled').removeAttr('disabled');
} else {
submit.addClass('disabled').attr('disabled', 'disabled');
}
}

$('form :input').on('change input', function() {
refreshSubmitState();
});

$('.register-legal-open').on('click', function() {
$('#register-legal-modal-opened').val('1');
refreshSubmitState();
});

function markLegalModalOpened() {
$('#register-legal-modal-opened').val('1');
}

$('#legal-agree-checkbox, #legal-typed-name').on('change input', function() {
markLegalModalOpened();
refreshSubmitState();
});

form.on('submit', function(e) {
if (!legalFlowComplete()) {
e.preventDefault();
$('#register-legal-form-error').text('Please click "Review and agree to legal documents," read each agreement, check the consent box, and type your full legal name before submitting.').removeAttr('hidden');
$('.register-legal-open').focus();
return false;
}
$('#register-legal-form-error').attr('hidden', 'hidden').text('');
if (!baseRequiredFieldsOk()) {
e.preventDefault();
return false;
}
setAllTermsAgreedDateToNow();
return true;
});

var email = $('#email'),
username = $('#username'),
state = $('#state'),
country = $('#country'),
question = $('#secretQuestion');

function isEmail(email) {
var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
return regex.test(email);
}

email.on('change', function(){
if(!isEmail(email.val())) {
$(this).parent('.field-wrap').addClass('field-wrap--error').find('.tool-tip').removeClass('d-none');
} else {
username.attr('value', email.val());
$(this).parent('.field-wrap').removeClass('field-wrap--error').find('.tool-tip').addClass('d-none');
}
});
state.on('change', function(){
window.localStorage.setItem('ns-state', state.val());
});
country.on('change', function(){
window.localStorage.setItem('ns-country', country.val());
});


$(document).ready(function(){
if(email.val() != ''){
username.attr('value', email.val());
}
stateVal = window.localStorage.getItem('ns-state');
if( stateVal ) {
state.val(stateVal);
}
countryVal = window.localStorage.getItem('ns-country');
if( countryVal ) {
country.val(countryVal);
}

refreshSubmitState();

});

{% endjs %}

{% endblock %}