{#
 # Reset Password
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
	
	

	<img class="patient-portal__bg" src="https://www.neuroscienceinc.com/images/general/accent.jpg" alt="">
	<style type="text/css">
		.patient-portal__bg {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 32%;
			z-index: -1;
		}

		
		#password-submit {
			background: #3cad2a;
			border-color: #3cad2a;
			color: #fff;
		}
		#password-submit[disabled] {
			opacity: 0.25;
		}
	</style>	

	<div class="wrapper-full section-tall">
		<header class="text-center section-x-short section--flush-top">
			
			<div align="center" style="line-height:10px"><img src="https://www.neuroscienceinc.com/images/93555-email-icon.gif" style="display: block; height: auto; border: 0; width: 130px; max-width: 100%;" width="130"/></div>
			
			<h2 class="h2 text-flush" style="font-weight: bold;">Set Password</h2>
			<p>Let’s get started! Enter a password below to access your dashboard.</p>
		</header>

		<div class="section section--flush-top">
			<div class="cardss wrapper wrapper--x-thin">
				<form method="post" accept-charset="UTF-8" id="password-form">
				    {{ csrfInput() }}

				    <input type="hidden" name="action" value="users/set-password">
				    <input type="hidden" name="code" value="{{ code }}">
				    <input type="hidden" name="id" value="{{ id }}">

					<div class="field-wrap">
						<label for="newPassword">Choose a password</label>
					    <input id="newPassword" type="password" name="newPassword" value="" required>
					</div>
					
					<div class="field-wrap">
						<label for="newPasswordMatch">Retype password</label>
					    <input id="newPasswordMatch" type="password" name="newPasswordMatch" value="" required>
					    <div class="match-error text-error p-sm d-none pt-2">Passwords do not match</div>
					</div>
					
					
				    {% if errors is defined %}
				        <ul class="errors">
				            {% for error in errors %}
				                <li>{{ error }}</li>
				            {% endfor %}
				        </ul>
				    {% endif %}
				    
				    
				    
					<div class="field-wrap text-center">
						<input type="submit" value="Set Password" disabled id="password-submit">
					</div>
					
					<div align="center" style="line-height:10px"><img src="https://www.neuroscienceinc.com/images/Seperator.png" style="display: block; height: auto; border: 0; width: 293px; max-width: 100%;" width="293"/></div>


					<div class="text-center mt-4">
						<p>Return to the <a href="{{ siteUrl }}login/">login page</a>.</p>
					</div>
				</form>
				
				<script>
					var $ = jQuery;
					var form = $('#password-form');
					var formSubmit = $('#password-submit');
					var password = $('#newPassword');
					var passwordMatch = $('#newPasswordMatch');
					var matchError = $('.match-error');
					
					form.change(function(){
						console.log(passwordMatch.val().length);
						if( passwordMatch.val().length > 0 ){
							if( password.val() !== passwordMatch.val() ) {
								matchError.removeClass('d-none');
								formSubmit.attr('disabled', '');
							} else {
								matchError.addClass('d-none');
								formSubmit.removeAttr('disabled');
							}
						}
						
					});
				</script>
				
				<style type="text/css">
						input[disabled] {
						filter: grayscale(100%);
						pointer-events: none;
					}
				</style>
			</div>
		</div>
	</div>

{% endblock %}
