{% if not currentUser.isInGroup('physicians') and not currentUser.admin %}
  {% redirect "login" %}
{% endif %}

{% set title = 'HCP Dashboard' %}
{% extends 'layouts/_accounts' %}
{% block content %}
    <div class="tabcontent patient-tabcontent grey-bg py-5">


        <div class="container">
	        <a class="d-block mb-4" href="/hcp/dashboard">&lt; Back</a>

            <div class="row">
                <div class="col-lg-6">
                    <div class="searchPatient w-50">
                        <select id="patientSelect">
                            <option value="">Select a patient...</option>
                        </select>
                    </div>
                    <p class="p-sm text-italic">Select a patient to start a recommendation</p>
                </div>
            </div>
        </div>
    </div>
     <div class="new-product bg-white py-5 px-xl-4">
         <div class="container">
             <div class="row">
                 <div class="col-md-8 col-12 m-auto">
                     <div class="text-center">
                     </div>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}
{% js %}
    $(document).ready(function(){
        $.getJSON("/hcp/ajax/search-patients", function(data) {
            $.each(data, function(i, patient) {
                $('#patientSelect').append($('<option>', { value: patient.value, text: patient.label }));
            });
        });

        $('#patientSelect').on('change', function() {
            var patientId = $(this).val();
            if (patientId) {
                window.location.href = "{{ url('hcp/recommendation') }}?patientId=" + patientId;
            }
        });
    })
{% endjs %}
