<!DOCTYPE html>
<html lang="en-US">

<head>
	{% include 'partials/head' %}

	{% set canBuy = false %}
	{% set allowedGuest = false %}
	{% set isGuest = craft.app.request.getParam('guestportal') %}
	{% if isGuest == 'ordering' %}
	{{ craft.app.session.set('allowGuest', 'true') }}
	{% endif %}

	{% if craft.app.session.get('allowGuest') == 'true' %}
	{% set allowedGuest = true %}
	{% endif %}

	{% if allowedGuest or currentUser and not currentUser.isInGroup('neuroselectOnly') %}
	{% set canBuy = true %}
	{% endif %}
</head>

<body class="">
	{% include 'partials/analytics-google-body-noscript' %}

	{% include 'partials/analytics-hubspot' %}

	{% include 'partials/analytics-tealium-layout' %}

	<a href="#content" class="sr-only">Skip to content</a>

	{% set cart = craft.commerce.carts.cart %}

	{% if craft.app.request.segments|first == '' %}
	{% include 'partials/alertBar' %}
	{% endif %}

	{% include 'partials/header' %}

	<main id="content" class="{% block mainClass %}{% endblock %}">
		{% block content %}
		<p>If you see me, you haven’t set your
			<code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a>
			documentation for an explanation.</p>
		{% endblock %}
	</main>

	{% include 'partials/footer' %}

	<script src="/js/TweenMax.min.js"></script>
	<script src="/js/main.js"></script>
	<span class="menu-mask" data-click-target="" data-click-bodyClass="sub-nav-is-active"></span>
	<div class="is-hidden">
		{% include 'partials/svgs.svg' %}
	</div>

	{% include 'partials/adminQuickLinks' %}

</body>

</html>