{% if not currentUser or not currentUser.isInGroup('patients') %}
{% redirect "patients/login" %}
{% endif %}
{% set title = 'Patient Dashboard' %}
{% extends 'layouts/_accounts-patient' %}

{% set number = craft.app.request.getRequiredParam('number') %}
{% set order = craft.enupalStripe.getOrderByNumber(number) %}
{% set subscription = order.getSubscription() %}
{% set frequency = order.getPaymentForm('description') %}
{% set formData = order.getFormFields() %}
{% set craftOrderNumber = formData.orderNumber %}
{% set craftOrder = craft.orders.number(craftOrderNumber).one() %}

{% block content %}

<img class="patient-portal__bg" src="https://www.neuroscienceinc.com/images/general/accent.jpg" alt="">

<div class="wrapper-wide py-6">

  <div class="customer-order-pdf mt-6 pb-4">

    <a class="mb-4 d-inline-block" href="/patients/autoship/">< All Autoship Orders</a>

    <h1 class="mb-3">Order #{{ craftOrder.reference }}</h1>

    <section class="customer-order-pdf-autoship mb-5">
      <table width="100%" border="0">
        <thead>
          <tr>
            <th width="16%">Autoship Reference #</th>
            <th width="16%">Order Date</th>
            <th width="16%">Frequency</th>
            <th width="16%">Next Shipment</th>
            <th width="16%">Status</th>
            <th width="16%">Order Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ order.number }}</td>
            <td>{{ subscription.startDate|date }}</td>
            <td>{{ frequency }}</td>
            <td>{{ subscription.endDate|date }}</td>
            <td><span style="text-transform: capitalize">{{ subscription.status }}</span></td>
            <td>{{ order.totalPrice|currency(order.currency) }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="customer-order-pdf__lists">
      <h2>Edit Auto Ship</h2>
        <form id="commerce-cart" method="post">
            <input type="hidden" name="action" value="commerce/cart/update-cart">
            <input type="hidden" name="cartUpdatedNotice" value="The cart was updated.">
            {{ redirectInput('shop/cart') }}
            {{ csrfInput() }}

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart.lineItems %}
          <tr class="line-item">
            <td>
              <strong>{{ item.description }}</strong><br>
              SKU: {{ item.sku }}
            </td>
            <td>
              {% if item.onSale %}
              <strike>{{ item.price|commerceCurrency(cart.currency) }}</strike>   {{ item.salePrice|commerceCurrency(cart.currency) }}
              {% else %}
              {{ item.price|commerceCurrency(cart.currency) }}
              {% endif %}
            </td>
            <td><input type="number" name="lineItems[{{ item.id }}][qty]" value="{{ item.qty }}" style="width: 60px; height: 40px;" /></td>
            <td class="text-right">{{ item.subtotal|commerceCurrency(cart.currency) }}</td>
          </tr>
          {% endfor %}
          <tr class="line-item">
            <td colspan="4" class="text-right"><button class="btn btn--sm btn-alt mt-0 mr-3" type="submit">Update</button><button class="btn btn--sm btn-alt mt-0 mr-3" type="button">Add Products</button></td>
          </tr>
          {% for adjustment in cart.adjustments %}
          <tr class="adjustment">
            <td class="adjustment__title">{{ adjustment.type }}</td>
            <td colspan="2"><strong>{{ adjustment.name }}</strong>{% if adjustment.description %}<br>({{ adjustment.description }}){% endif %}</td>
            <td class="text-right">{{ adjustment.amount|commerceCurrency(cart.currency) }}</td>
          </tr>
          {% endfor %}

          <tr class="totals">
            <td colspan="4" class="text-right">
              <span class="subtotal">Item Subtotal: {{ cart.itemTotal|commerceCurrency(cart.currency) }}</span>
              <span class="total">Total: {{ cart.totalPrice|commerceCurrency(cart.currency) }}</span>
            </td>
          </tr>

        </tbody>
      </table>
      </form>
    </section>
  </div>
</div>
{% endblock %}

{% js %}
  $(document).ready(function(){
  })
{% endjs %}
