<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{ "Craft Commerce"|t }}</title>

	<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600'>
	<link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type='text/css' href="{{ url('shop/style.css') }}">

{% if constant('CRAFT_ENVIRONMENT') in ['production', 'staging'] %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117519601-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-117519601-1');
	</script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N46834T');</script>
	<!-- End Google Tag Manager -->
{% endif %}

</head>
<body>
{% if constant('CRAFT_ENVIRONMENT') in ['production', 'staging'] %}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N46834T"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endif %}

	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


{% set cart = craft.commerce.cart %}

{% block header %}
	<div id="header" class="container">
		<div class="row">
			<div class="twelve columns">
				<a href="{{ url('shop') }}">{%- include "shop/_images/logo" with {'class': 'logo'} -%}</a>

				{% include "shop/_includes/nav" %}

				<div class="flash">{{ craft.app.session.getFlash('notice') }}</div>
				<div class="flash">{{ craft.app.session.getFlash('error') }}</div>

                <div class="row">
                    <div class="twelve columns">
                        {% for error in cart.errors %}
                            <div class="flash">{{ error|join(' ') }}</div>
                        {% endfor  %}
                    </div>
                </div>


            </div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="main" class="container">
		{% block main %}
			<div class="row">
				<div class="twelve columns">
					<h4>Default Content</h4>
					<p>You should not see this.</p>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
</body>
</html>
