<div class="search">
    <form>
        <input style="text-align: left;" type="text" name="searchPatient" autocomplete="off" placeholder="Search Patient">
        <div class="text-right">
          <a class="h6" href="{{ url('hcp/all-patient-history') }}">See All Patients</a>
        </div>
    </form>
</div>
{% do view.registerCssFile('//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css') %}
{% do view.registerJsFile('//code.jquery.com/ui/1.13.1/jquery-ui.js') %}
{% js %}
    $(document).ready(function(){
        $( "input[name='searchPatient']" ).val('');
        $( "input[name='searchPatient']" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/hcp/ajax/search-patients",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                });
            },
            minLength: 0,
            select: function( event, ui ) {
                window.location.href = "{{ url('hcp/patient?id=') }}=" + ui.item.value;
                ui.item.value = ui.item.label;
            }
        })
    })
{% endjs %}