{% set showPathways = true %}
{% set loopLimit = 5 %}
{% set showAdditional = true %}


{% if query | length %}
    {% set showAdditional = false %}
    {% set loopLimit = null %}
    {% set showPathways = false %}
    {% for row in user.pathwaySubmissions %}
        {% if row.submissionId == query %}
            {% set showPathways = true %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="col-12 mb-4 d-flex">
    <div class="card col-12">
        <div class="d-sm-flex flex-items-center flex-justify-between mb-3">
            <h2 class="h4 text-black mr-3">Pathway</h2>
            <a class="btn btn--sm" href="{{ siteUrl }}account/neuroselect/edit?type=pathway">Add New</a>
        </div>

        {% if showPathways %}
        <table class="u-full-width full-borders pir-tables">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Pathways</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Sex</th>
                    <th class="text-right"></th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in user.pathwaySubmissions.limit(loopLimit).all() %}
                    {% if query | length %}
                        {% if row.submissionId == query %}
                        <tr class="submission" data-submission-type="pathway">
                            <td>{{ row.submissionId }}</td>
                            <td>{{ row.date }}</td>
                            <td class="submission__pathways">
                                {{ row.pathways }}
                            </td>
                            <td class="submission__category text-center">
                                {{ row.category }}
                            </td>
                            <td class="submission__age text-center">
                                {{ row.age }}
                            </td>
                            <td class="submission__sex text-center">
                                {{ row.gender }}
                            </td>
                            <td class="text-right">
                                <a class="edit-submission" href="{{ siteUrl }}account/neuroselect/edit?type=pathway&id={{ row.submissionId }}">Edit</a>
                            </td>
                            <td class="text-right"><a class="pir-generate-report" href="/account/neuroselect/pathway/{{ row.submissionId }}">Generate Report</a></td>
                        </tr>
                        {% endif %}
                    {% else %}
                    <tr class="submission" data-submission-type="pathway">
                        <td>{{ row.submissionId }}</td>
                        <td>{{ row.date }}</td>
                        <td class="submission__pathways">
                            {{ row.pathways }}
                        </td>
                        <td class="submission__category text-center">
                            {{ row.category }}
                        </td>
                        <td class="submission__age text-center">
                            {{ row.age }}
                        </td>
                        <td class="submission__sex text-center">
                            {{ row.gender }}
                        </td>
                        <td class="text-right">
                            <a class="edit-submission" href="{{ siteUrl }}account/neuroselect/edit?type=pathway&id={{ row.submissionId }}">Edit</a>
                        </td>
                        <td class="text-right"><a class="pir-generate-report" href="/account/neuroselect/pathway/{{ row.submissionId }}">Generate Report</a></td>
                    </tr>
                    {% endif %}

                {% endfor %}
            </tbody>

            {% if showAdditional and user.pathwaySubmissions|length > 5 %}
            <tbody class="js-additional-reports" data-group="pathway">
                {% for row in user.pathwaySubmissions.offset(5).all() %}
                    {% if query | length %}
                        {% if row.submissionId == query %}
                        <tr class="submission" data-submission-type="pathway">
                            <td>{{ row.submissionId }}</td>
                            <td>{{ row.date }}</td>
                            <td class="submission__pathways">
                                {{ row.pathways }}
                            </td>
                            <td class="submission__category text-center">
                                {{ row.category }}
                            </td>
                            <td class="submission__age text-center">
                                {{ row.age }}
                            </td>
                            <td class="submission__sex text-center">
                                {{ row.gender }}
                            </td>
                            <td class="text-right">
                                <a class="edit-submission" href="{{ siteUrl }}account/neuroselect/edit?type=pathway&id={{ row.submissionId }}">Edit</a>
                            </td>
                            <td class="text-right"><a class="pir-generate-report" href="/account/neuroselect/pathway/{{ row.submissionId }}">Generate Report</a></td>
                        </tr>
                        {% endif %}
                    {% else %}
                    <tr class="submission" data-submission-type="pathway">
                        <td>{{ row.submissionId }}</td>
                        <td>{{ row.date }}</td>
                        <td class="submission__pathways">
                            {{ row.pathways }}
                        </td>
                        <td class="submission__category text-center">
                            {{ row.category }}
                        </td>
                        <td class="submission__age text-center">
                            {{ row.age }}
                        </td>
                        <td class="submission__sex text-center">
                            {{ row.gender }}
                        </td>
                        <td class="text-right">
                            <a class="edit-submission" href="{{ siteUrl }}account/neuroselect/edit?type=pathway&id={{ row.submissionId }}">Edit</a>
                        </td>
                        <td class="text-right"><a class="pir-generate-report" href="/account/neuroselect/pathway/{{ row.submissionId }}">Generate Report</a></td>
                    </tr>
                    {% endif %}

                {% endfor %}
            </tbody>
            {% endif %}
        </table>



        {% if showAdditional and user.pathwaySubmissions|length > 5 %}
        <div class="text-center mt-4">
            <div class="btn-alt btn--sm js-show-all-reports" data-group="pathway">Show All Reports</div>
        </div>
        {% endif %}

        {% else %}
        <p class="p-sm mt-4">No reports found</p>
        {% endif %}
    </div>
</div>
