{% set title = 'My Account' %}
{% extends 'layouts/_accounts' %}

{% block content %}

    <div class="wrapper-wide">

        <div class="row text-group-tall">

            <div class="col--xs--12 text-group mt-6">
                <header>
                    <h2>My Account</h2>
                </header>
                <div class="mt-4 mb-4">
                    <div class=" text-group account-card">
                        <div class="d-flex flex-wrap">

                            <div class="col-12 mb-4 mb-md-6">
                                <div class="card col-12 text-group">

                                    <h2 class="h4 mb-4 text-black">Account</h2>

                                    <div>
                                        <div class="text-bold">Name</div>
                                        {{ currentUser.nameFull }} {% if currentUser.credentials %}, {{ currentUser.credentials }}{% endif %}
                                    </div>
                                    <div>
                                        <div class="text-bold">Email</div>
                                        {{ currentUser.email }}
                                    </div>

                                    <div>
                                        <div class="text-bold">Business Name</div>
                                        {{ currentUser.businessName }}
                                    </div>

                                    {% if user.website %}
                                    <div>
                                        <div class="text-bold">Website</div>
                                        {{ currentUser.website }}
                                    </div>
                                    {% endif %}

                                    <div>
                                        <div class="text-bold">Phone</div>
                                        {{ currentUser.phone }}
                                    </div>

                                    {% if user.fax %}
                                    <div>
                                        <div class="text-bold">Fax</div>
                                        {{ currentUser.fax }}
                                    </div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <p class="text-bold">Main Address</p>
                                        {{ currentUser.address }} {{ currentUser.addressLine2 }}<br />
                                        {% if user.addressLine3 %}{{ currentUser.addressLine3 }}<br />{% endif %}
                                        {{ currentUser.city }}, {{ currentUser.state }} {{ currentUser.zip }}<br />
                                        {{ currentUser.country }}

                                        <div>
                                            <a href="{{ siteUrl }}shop/customer/edit">Edit</a>
                                        </div>
                                    </div>



                                    <div class="mt-4">
                                        <a href="{{ siteUrl }}shop/customer/edit">View shipping addresses</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
