{# Craft 4 Address element (see https://craftcms.com/docs/4.x/addresses ).
   `modelName` prefixes fields for commerce/cart/update-cart (e.g. shippingAddress).
   When omitted, field names are root-level for users/save-address.
   Country is fixed to United States (US) per store subdivisions. #}
{% set ns = modelName is defined and modelName ? modelName : '' %}
{% set n = ns ? ns ~ '[' : '' %}
{% set x = ns ? ']' : '' %}
{% set fieldsNs = ns ? ns ~ '[fields]' : 'fields' %}
{% set idPx = ns ?: 'account-address' %}
{% set storeModel = craft.commerce.getStore().getStore() %}
{% set usStates = storeModel.getAdministrativeAreasListByCountryCode()['US'] ?? {} %}
{% set model = address is defined ? address : null %}
{# Require core fields on checkout addresses and on account address book #}
{% set requireAddr = ns in ['shippingAddress', 'billingAddress', ''] %}

<div class="addressBox {{ ns ?: 'addressBook' }} form-sm text-group">
	<h3>Add/ Edit Address</h3>

	<h6 class="h6 mb-4">*Required fields</h6>
	<div class="row text-group">
		<div class="col--xs--12 col--sm--6 col--md--4">
			<label for="{{ idPx }}-firstName">First Name*</label>
			<input type="text" id="{{ idPx }}-firstName" class="u-full-width" name="{{ n }}firstName{{ x }}" value="{{ model ? model.firstName : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('firstName') %}
			<span class="flash">{{ model.getErrors('firstName')|join }}</span>
			{% endif %}
		</div>
		<div class="col--xs--12 col--sm--6 col--md--4">
			<label for="{{ idPx }}-lastName">Last Name*</label>
			<input type="text" id="{{ idPx }}-lastName" class="u-full-width" name="{{ n }}lastName{{ x }}" value="{{ model ? model.lastName : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('lastName') %}
			<span class="flash">{{ model.getErrors('lastName')|join }}</span>
			{% endif %}
		</div>

		<div class="col--xs--12 col--sm--12 col--md--4">
			<label for="{{ idPx }}-organization">Business Name</label>
			<input type="text" id="{{ idPx }}-organization" class="u-full-width" name="{{ n }}organization{{ x }}" value="{{ model ? model.organization : '' }}">
			{% if model and model.getErrors('organization') %}
			<span class="flash">{{ model.getErrors('organization')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row text-group">
		<div class="col--xs--12 col--sm--6 col--md--4">
			<label for="{{ idPx }}-addressLine1">Street Address*</label>
			<input type="text" id="{{ idPx }}-addressLine1" class="u-full-width" name="{{ n }}addressLine1{{ x }}" value="{{ model ? model.addressLine1 : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('addressLine1') %}
			<span class="flash">{{ model.getErrors('addressLine1')|join }}</span>
			{% endif %}
		</div>

		<div class="col--xs--12 col--sm--6 col--md--2">
			<label for="{{ idPx }}-addressLine2">Suite/Apt #</label>
			<input type="text" id="{{ idPx }}-addressLine2" class="u-full-width" name="{{ n }}addressLine2{{ x }}" value="{{ model ? model.addressLine2 : '' }}">
			{% if model and model.getErrors('addressLine2') %}
			<span class="flash">{{ model.getErrors('addressLine2')|join }}</span>
			{% endif %}
		</div>

		<div class="col--xs--12 col--sm--6 col--md--4">
			<label for="{{ idPx }}-locality">City*</label>
			<input type="text" id="{{ idPx }}-locality" class="u-full-width" name="{{ n }}locality{{ x }}" value="{{ model ? model.locality : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('locality') %}
			<span class="flash">{{ model.getErrors('locality')|join }}</span>
			{% endif %}
		</div>

		<div class="col--xs--12 col--sm--6 col--md--2">
			<label for="{{ idPx }}-postalCode">Zip Code*</label>
			<input type="text" id="{{ idPx }}-postalCode" class="u-full-width" name="{{ n }}postalCode{{ x }}" value="{{ model ? model.postalCode : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('postalCode') %}
			<span class="flash">{{ model.getErrors('postalCode')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row text-group">
		<div class="col--xs--12 col--sm--6">
			<label>Country</label>
			<p class="p-sm mb-0"><strong>United States</strong></p>
			{{ hiddenInput(n ~ 'countryCode' ~ x, 'US') }}
		</div>

		<div class="col--xs--12 col--sm--6">
			<label for="{{ idPx }}-administrativeArea">State*</label>
			<div class="select-wrap">
				<select id="{{ idPx }}-administrativeArea" class="address-state u-full-width" name="{{ n }}administrativeArea{{ x }}" {% if requireAddr %}required{% endif %}>
					<option value="" disabled {% if not model or not model.administrativeArea %}selected{% endif %}>Select state…</option>
					{% for code, label in usStates %}
						<option value="{{ code }}" {% if model and model.administrativeArea == code %}selected{% endif %}>{{ label }}</option>
					{% endfor %}
				</select>
			</div>
			{% if model and model.getErrors('administrativeArea') %}
			<span class="flash">{{ model.getErrors('administrativeArea')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row text-group section-short section--flush-top">
		<div class="col--xs--12 col--sm--6">
			<label for="{{ idPx }}-addressPhone">Phone*</label>
			<input type="text" id="{{ idPx }}-addressPhone" class="u-full-width" name="{{ fieldsNs }}[addressPhone]" value="{{ model ? model.addressPhone : '' }}" {% if requireAddr %}required{% endif %}>
			{% if model and model.getErrors('addressPhone') %}
			<span class="flash">{{ model.getErrors('addressPhone')|join }}</span>
			{% endif %}
		</div>
	</div>
</div>
