{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	<div class="video-hero">
		<figure class="video-hero__video">
			<video muted autoplay loop>
                <source src="{{ '/images/particles.mp4' }}" type="video/mp4">
            </video>

			<img src="{{ '/images/particles.jpg' }}" alt="image of a brain made up by black and white particles">
		</figure>

		<div class="video-hero__content wrapper-wide">
			<div class="">
				<div class="video-hero__content__inner">
					<h1 class="hxl">Brain-focused.<br />
					<span>Premium products.</span>
					</h1>
					<a class="btn mt-4" href="">Explore Products</a>
				</div>
			</div>
		</div>

		<a class="video-hero__ft" href="#neuroscience-content" data-scroll-to="neuroscience-content">
			<p class="h6">Learn more</p>
			<img src="{{ '/images/svgs/arrow-down-green.svg' }}" alt="arrow icon" />
		</a>

	</div>
	<div id="neuroscience-content"></div>



	{% include 'partials/contentModules' %}


	<div class="wrapper-full bg-lights py-8">
		<div class="wrapper wrapper--thin">
			<div class="mb-4 mb-md-6 text-center">
				<h2 class="h4 text-brand  mb-2">Our Mission</h2>
				<p class="h2 text-light">Consistent Products. Proven results.</p>
				<p>Everything we do is rooted in neuroscience. Our peripheral focus may evolve, but the brain forever remains central to who we are. Join us as we continue innervating healthcare with our innovative brain-focused approach.</p>
			</div>

			<div class="d-flex flex-items-end flex-justify-center">

				<div class="col-6">
					<div class="round-graph__wrap">

                        <div class="round-graph mb-0" data-detect-viewport="" data-graph="75">
                            <figure>
                                <p><span class="js-percent">0</span>%</p>
                                <svg version="1.1" viewBox="0 0 106 106">
                                     <circle opacity="0.1" fill="none" stroke="#1B62AA" stroke-miterlimit="10" cx="53" cy="53" r="49"/>
                                     <circle class="outer" fill="none" stroke="#0081B6" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="53" cy="53" r="49"/>
                                </svg>
                            </figure>
                            <p class="mt-4 mb-0">Another Stat</p>
                        </div>

                    </div>
				</div>

				<div class="col-6 d-flex flex-justify-center flex-wrap">

					<div class="graph-group text-center">
						<div class="bar-graph" data-detect-viewport="" data-graph="75">
			                <div class="graph">
			                    <div></div>
			                    <p><span class="js-percent">0</span>%</p>
			                    <div class="graph-fill"></div>
			                </div>
			                <p class="d-none">Great stat</p>
			            </div>
						<div class="bar-graph" data-detect-viewport="" data-graph="45">
			                <div class="graph">
			                    <div></div>
			                    <p><span class="js-percent">0</span>%</p>
			                    <div class="graph-fill"></div>
			                </div>
			                <p class="d-none">Great stat</p>
			            </div>
						<div class="bar-graph" data-detect-viewport="" data-graph="20">
			                <div class="graph">
			                    <div></div>
			                    <p><span class="js-percent">0</span>%</p>
			                    <div class="graph-fill"></div>
			                </div>
			                <p class="d-none">Great stat</p>
			            </div>
					</div>
					<p class="text-center col-12 mt-3">Some data here</p>

				</div>
			</div>

			<div class="text-center mt-6">
				<a class="btn" href="/about/">
	                About Us
	            </a>
			</div>

		</div>
	</div>



{% endblock %}
